@page "/containers"
@layout ConfigDashboardMainLayout
@inherits ContainerDbPage

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-10">
    <MudGrid>
        @if (IsBusy)
        {
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        }
        <MudItem xs="12" sm="12" md="12" lg="12">
            <MudPaper Class="pa-5">
                <MudTable T="ContainerDbResponse"
                          Items="@List"
                          Dense="@dense"
                          Hover="@hover"
                          Bordered="@bordered"
                          Striped="@striped"
                          Loading="@IsBusy"
                          Filter="new Func<ContainerDbResponse,bool>(DoFilter)"
                          OnRowClick="@(args => OpenItem(args))"
                          RowClass="cursor-pointer">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Logs de Acesso</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchContentFieldValue"
                                      Placeholder="Informe o valor e tecle enter..."
                                      Label="Pesquisar"
                                      Variant="Variant.Text"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      IconSize="Size.Medium" 
                                      Immediate="true"
                                      Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Container Name</MudTh>
                        <MudTh>Container Port</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="User Id">@context.ContainerDbName</MudTd>
                        <MudTd DataLabel="User Id">@context.ContainerDbPort</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                <div class="d-flex flex-wrap mt-4">
                    <MudSwitch @bind-Value="hover" Color="Color.Tertiary">Hover</MudSwitch>
                    <MudSwitch @bind-Value="dense" Color="Color.Tertiary">Dense</MudSwitch>
                    <MudSwitch @bind-Value="striped" Color="Color.Tertiary">Striped</MudSwitch>
                    <MudSwitch @bind-Value="bordered" Color="Color.Tertiary">Bordered</MudSwitch>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    #region Grid Properties

    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchContentFieldValue = "";

    #endregion

    #region Page Methods

    protected override async Task OnInitializedAsync()
    {
        await GetContainers();
    }

    protected void OpenItem(TableRowClickEventArgs<ContainerDbResponse> args)
    {
        var item = args.Item;
        ShowDetails(item!.Id);
    }

    private bool DoFilter(ContainerDbResponse element) => FilterContent(element, searchContentFieldValue);

    private bool FilterContent(ContainerDbResponse element, string searchContent)
    {
        if (string.IsNullOrWhiteSpace(searchContent))
            return true;

        if (element.ContainerDbName!.ToString().Contains(searchContent, StringComparison.OrdinalIgnoreCase))
            return true;

        if (element.ContainerDbPort!.ToString()!.Contains(searchContent, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{element.ContainerDbName} {element.ContainerDbPort}".Contains(searchContent))
            return true;

        return false;
    }

    #endregion
}
